
body{
	color: black;
	background-color: pink;
	border-color: white;
  
  
}
.contact{
	padding-right:90px;
	color: black;
	font-size: 20px;
	border-style: solid;
  border-width: 30px;
  border-color: white;
  background-color: white;
  border-radius: 40px;
  border-right: 20px;
}
h1{
	text-align: center;
	font-size: 50px;
	 border-width: 30px;
  border-color: white;
  background-color: white;
  border-radius: 40px;
  border-right: 20px;
  color: black;
}
}