body{
	background-color: pink;
}
.wrapper{
	border-collapse: collapse;
	font-size: 40px;
	padding-right: 105px;
	padding-left: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
	border-radius: 30px;
	border-width: 50px;
	background-color: white;

}
	.item1{
	       color: green;
	}
	.item2{
		color: green;
	}
	.item3{
		color: green;
	}
h1{
	text-align: center;
	font-size: 60px;
	background-color: white;
	border-radius: 30px;
}