body{
color: black;
background-color: pink;
}
.ed{
	border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: white;
  border-radius: 40px;
  border-right: 70px;
  font-size: 5px;
  padding-left: 50px;
}
h1{
	text-align: left;
	font-size: 30px;
	padding-right: 40px;
}
h2
{
	font-size: 60px;
  text-align: center;
  padding-top: 20px;
  background-color: white;
  border-radius: 30px;
  
}
