body{
	background-color: pink;
}
p{
	padding-right:20px;
	color: green;
	font-size: 25px;
	border-style: solid;
  border-width: 15px;
  border-color: white;
  background-color: white;
  border-radius: 30px;
  border-right: 100px;
  white-space: pre-wrap;
  font-family: sans-serif;
}

h1{
	font-size: 60px;
	text-align: center;
	font-family: arial;
	border-width: 15px;
  border-color: white;
  background-color: white;
  border-radius: 30px;
  border-right: 100px;
  padding-right: 20px;
}
